{% extends "base.html" %}
{% block content %}
<div class="container">
　　网站名字跟网站目的有出入，但是程序猿这么写就只能这么叫了，还搞了个飞机图标，真是令人痛（振）心（奋）啊。<br>

　　本站着力于统计泛杭州绕城范围内的ingress玩家活跃情况，绝不会试图去记录玩家成就时长，蓝绿双方都有非常完善的打成就体系，本站完全不想班门弄斧、自讨没趣。不要在这探讨TOS相关的内容，本站是个两面派，风往这吹，墙往那倒。<br>

　　个人得分来源：占领、插脚、link、cf、摧毁，一个动作一分，99%准确度。网站目前对桌面版浏览器及ios设备比较友好，安卓用户可以一键添加本站到桌面小程序，网站所有已知和未知的bug坐等修复。。。。<br>

　　春天来了，万物复苏，4月份蓝绿总积分最高者可获得本站送出的一个装满vr道具（AXA?VRLINKAMP?SBLINKAMP?）的红桶，5月1日公布获奖者。欢迎举报飞机、互刷，本站保留最终解释权，改ID会影响积分，有需要的话联系站长处理。电报：<a href="https://t.me/afkhangzhou">afkhangzhou</a> 电报频道：<a href="https://t.me/afkhz">afkhz</a><br>

　　后期更新趋势：1、增加指定时间段查询。2、依游戏ID、操作类型搜索积分情况。3、优化条形图。4、微信小程序或手机APP。。
</div>
{% endblock %}