{% extends "base.html" %}
{% block chart_css %}
    <style>
        #main_form{
            margin-top: 50px;
            padding: 5px;
        }
        #main-container{
            margin-top: 50px;
        }
        @media (max-width: 768px){
            #main-container{
                top: 250px;
                margin-top: 0;
            }
            #main_form .input-group{
                margin-bottom: 5px;
            }
        }
    </style>
{% endblock %}
    {% block search_form %}
        <div id="main_form" class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">开始:</span>
                <input type="text" class="form-control" name="begin_date" id="id_begin_date">
            </div>
            <div class="input-group">
                <span class="input-group-addon">结束:</span>
                <input type="text" class="form-control" name="end_date" id="id_end_date">
            </div>
            <div class="input-group">
                <span class="input-group-addon">阵营:</span>
                    <select class="form-control" name="team" id="id_team">
                        <option value="all">All</option>
                        <option value="RESISTANCE">RESISTANCE</option>
                        <option value="ENLIGHTENED">ENLIGHTENED</option>
                    </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">操作:</span>
                    <select class="form-control" name="act" id="id_act">
                        <option value="all">All</option>
                        <option value="capture">Capture</option>
                        <option value="link">Link</option>
                        <option value="control_field">Control field</option>
                        <option value="deploy">Deploy resonator</option>
                        <option value="destroy">Destroy resonator</option>
                        <option value="destroy_link">Destroy link</option>
                        <option value="destroy_control_field">Destroy control field</option>
                        <option value="portal_fracker">Fracker</option>
                        <option value="beacon">Beacon</option>
                    </select>
            </div>
            <input type="button" class="btn btn-primary" id="search_btn" value="Search">
        </div>
    {% endblock %}
{% block chart_script %}
    <script type="text/javascript">
        $(document).on('ready', function(){
            $('#id_team').val('{{ request.GET.team|default("all") }}');
            $('#id_act').val('{{ request.GET.act|default("all") }}');
            $('#id_begin_date, #id_end_date').datepicker({
                format: "yyyy-mm-dd",
                language: "zh-CN",
                orientation: "bottom auto",
                autoclose: true,
                startDate: "2017-02-19"
            });
            var myChart = echarts.init(document.getElementById('main-container'));
            var base_url = "{{ url('frontend:get_top30')}}";
            var default_date = new Date();
            var default_month = default_date.getMonth();
            if(default_date.getDay() == 1){
                default_month = default_month - 1
            }
            var start_date = new Date(default_date.getFullYear(), default_month, 1);
            default_date.setDate(default_date.getDate() - 1);
            $('#id_begin_date').val(get_date_str(start_date));
            $('#id_end_date').val(get_date_str(default_date));
            get_data_func(myChart, base_url, get_url());
            $('#search_btn').on('click', function(){
                get_data_func(myChart, base_url, get_url());
            });
        });
        function get_date_str(default_date){
            var default_day = default_date.getDate();
            var default_month = default_date.getMonth()+1;
            var default_year = default_date.getFullYear();
            if(default_day < 10){
                default_day='0' + default_day
            }
            if(default_month < 10){
                default_month = '0' + default_month
            }
            return default_year + '-' + default_month + '-' + default_day;
        }
        function get_url(){
            url_data = {};
            var begin_date = $('#id_begin_date').val();
            var end_date = $('#id_end_date').val();
            var team = $('#id_team').val();
            var act = $('#id_act').val();
            if(begin_date){
                url_data['begin_date'] = begin_date.trim();
            }
            if(end_date){
                url_data['end_date'] = end_date.trim();
            }
            if(team){
                url_data['team'] = team;
            }
            if(act){
                url_data['act'] = act;
            }
            return url_data;
        }
        function get_data_func(myChart, url, url_data){
            myChart.showLoading();
            $.ajax({
                url: url,
                type: "get",
                data: url_data,
                success: function(data) {
                    myChart.hideLoading();
                    option = {
                        color: ['#1681A3'],
                        tooltip : {
                            trigger: 'axis',
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type : 'category',
                                data : data.xAxis_data,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        dataZoom: [
                            {
                                type: 'slider',
                                show: true,
                                start: 0,
                                end: 35,
                                handleSize: 8
                            },
                            {
                                type: 'inside',
                                start: 0,
                                end: 35
                            },
                            {
                                type: 'slider',
                                show: true,
                                yAxisIndex: 0,
                                filterMode: 'empty',
                                width: 12,
                                height: '70%',
                                handleSize: 8,
                                showDataShadow: false,
                                left: '93%'
                            }
                        ],
                        series : [
                            {
                                name:'POINTS',
                                type:'bar',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'inside'
                                    }
                                },
                                barWidth: '60%',
                                data:data.series_data
                            }
                        ]
                    };
                    myChart.setOption(option);
                },
            });
        }
    </script>
{% endblock %}